<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Mahasiswa</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    
    <nav class="navbar container navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid ">
        <a class="navbar-brand" href="#">AKN D P1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          </div>
        </div>
      </div>
    </nav>

      <div class="container mt-5 pt-5">
          <div class="row">
              <div class="col-md-12">
                <h1>Data Mahasiswa</h1>

                <a href="/add-mahasiswa" class="btn btn-primary mb-3">Tambah Data</a>

                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert"><%- messages.success %></div>
                <% } %>
                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>

                <table class="table">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">No. HP</th> %> 
                        <th scope="col">Email</th>
                        <th scope="col">Aksi</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        <% if (data.length) { %> 
                            <%  for (var i = 0; i < data.length; i++) { %> 
                                <tr> 
                                    <td><%= i+1 %> </td>
                                    <td><%= data[i].nama %> </td>
                                    <td><%= data[i].noHP %> </td>
                                    <td><%= data[i].email %> </td>
                                    <td>
                                        <a href="/detail/<%=data[i].id%>" class="btn btn-success badge rounded-pill "><i class="bi bi-info-circle"></i> Detail</a>
                                    </td>
                                </tr>
                                
                            <%   } %>
                        <%  }  else { %>
                            <th>
                                <td colspan="4">
                                    <div class="alert alert-danger" role="alert">
                                        Data mahasiswa masih kosong!
                                    </div>
                                </td>
                            </th>

                        <%  } %>
                    </tbody>
                  </table>

                
              </div>
          </div>
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

  <footer class="bg-light text-center text-lg-start mt-auto">
    <div class="container p-4 m-3">
      <div class="row">
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright || Created by Group One || AKN D P1
    </div>
  </footer>
</html>